table, th, td {
    border: 1px solid black;
    font-size: 1rem; 
}

table{
    width: 90%;
}

#editForm tfoot input[type = "text"] {
    width: 100%;
}

input:not([type="image" i]) {
    box-sizing: border-box;
}

th {
    background: rgb(54, 9, 151);
    font-size: 1.5rem;
    padding: 0.25rem;
    color: white;
}

td {
    padding: 0.15rem ;
}